/* This file is for your main application css. */

@import "bootstrap";

.side { padding: 4ex; text-align: center; }
h1, h2 { text-align: center; }

.tile {
    background: #fff;
    border: 1px solid #999;
    height: 60px;
    padding: 0;
    text-align: center;
    width: 20px;
}